.atom-dock-toggle-button.left {
  display: none;
}

atom-panel-container.left .list-inline.tab-bar.inset-panel {
  display: none;
}

.scrollbars-visible-always atom-panel-container.left ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
